import React, { useState } from 'react';
import Header from '../components/Header';

export default function App() {
  const [city, setCity] = useState('All');
  const [freeFilter, setFreeFilter] = useState('All Events');
  const [genreFilter, setGenreFilter] = useState('All');
  const [ageFilter, setAgeFilter] = useState('All ages');

  return (
    <div>
      <Header
        city={city}
        setCity={setCity}
        freeFilter={freeFilter}
        setFreeFilter={setFreeFilter}
        genreFilter={genreFilter}
        setGenreFilter={setGenreFilter}
        ageFilter={ageFilter}
        setAgeFilter={setAgeFilter}
      />
      {/* Остальной код с событиями и т.д. */}
    </div>
  );
}
